@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Urbanist:ital,wght@1,500&display=swap');


header {
    width: 100vw;
    height: 100px;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    box-shadow: 0px 3px 8px #7d7d7d;
    display: flex;
    align-items: center;    
}

.icon {
    height: 80px;
    width: 90px;
}

body {    
    font-family: 'Urbanist', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #dedede;
    
}

a:hover {
    color: currentColor;
}

.container-fluid{
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

@media (max-width:992px) {
    .container-fluid {
        padding: 0 5%;
    }
}

.navb-logo img {
    width: 90px;
    height: 66px;   
    margin-left: 10px; 
}

.navb-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 1px;        
}
@media (max-width:992px) {
    .navb-items {
        display: none;
    }
}

.item {
    text-align: center;
    margin-inline: 15%;
    font-size: 20px;
    letter-spacing: 3px;
    color: #7d7d7d;
    padding: 5px 0;
    transition: all .1s ease;
    border-bottom: 0px solid #64d6f4;
    border-top: 0px solid #64d6f4;
    cursor: pointer;
}
@media(max-width:1290px) {
    .item {
        text-align: center;
        margin-inline: 8%;
        font-size: 20px;
        letter-spacing: 3px;
        color: #7d7d7d;
        padding: 5px 0;
        transition: all .1s ease;
        border-bottom: 0px solid #64d6f4;
        border-top: 0px solid #64d6f4;
        cursor: pointer;
    }
}

.item:hover {
    border-bottom: 3px solid #dedede;
    border-top: 3px solid #dedede;
}

.item-button a {
    background-color: #7d7d7d;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #dedede;
    transition: all .5s ease;
}

.logOut {
    width: 70px;
    margin-left: 8px;
    height: 60px;
    justify-content: center;
    margin-right: 10px;
    color: #dedede;
}

.item-button a:hover {
    background-color: #fafafa;
}

/* estilos del modal  */

.logo-modal {
    /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(105%) contrast(102%); */
    width: 80px;
    height: 60px;    
}

.modal-dialog {
    margin: 0;
    width: 430px;

}

@media(max-width: 450px) {
    .modal-dialog {
        width: 300px;
    }
}
.modal-content {
    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color:cadetblue;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 2px solid #dedede;
}

.modal-header .btn-close {
   background-color: transparent;
   opacity: 1;   
}

.modal-header .btn-close {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(105%) contrast(102%); 
    font-size: 20px;
}

.modal-body {
   width: 88%;
   margin: 0 auto;
   padding: 25px 0 0 0;
   flex: unset; 
}

.modal-body .modal-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 0;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all .5s ease;
    color: #dedede;
    border-bottom: 1px solid #64d6f4;
}

.modal-body .modal-line:hover {
   color: #dedede;
   border-bottom: 1px solid #dedede; 
}

.modal-line a {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #dedede;
}

.modal-line i {
    color: currentColor;
    font-size: 30px;
    width: 35px;
    margin-right: 15px;
    padding: 0 0 3px 3px;
}

.navb-button {
    width: 100%;
    height: 47px;
    background-color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: #e0301e;
    letter-spacing: 2px;
    transition: all .5s ease;  
}

.navb-button:hover {
    background-color: #e0301e;
    color: #dedede;
    border: 1px solid;
    border-color: #dedede;
}

.mobile-modal-footer {
    width: 87%;
    margin: 0 auto;
    padding: 20% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: #7d7d7d;
}

.mobile-modal-footer i:hover {
    color: #dedede;
}


// estilos del breadcrum


.section-1 {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 p {
    font-size: 75px;
    font-weight: 700;
    color: #7d7d7d;
    width: 90%;
    text-align: center;

}

@media(max-width:767px) {
    .section-1 p {
        font-size: 50px;
        text-align: start;
        width: 70%;
        margin: auto;
    }
}

.div-email {
    background-color: rgb(111, 33, 184);;
    box-shadow: 0px 3px 8px #7d7d7d;
}

@media(max-width:992px) {
    .div-email {
        visibility: hidden;
    }
}

.user-rol {
    background-color:rgb(138, 43, 226);
}




