<div class="modal-container">
    <div class="modal-content">
      <div class="modal-image">
        <img [src]="producto.image" alt="Product Image">
      </div>
      <div class="modal-details">
        <h2 class="modal-title">{{ producto.title }}</h2>
        <p class="modal-description">{{ producto.description }}</p>
        <div class="modal-price">${{ producto.price }}</div>
        <div class="modal-rating">         
           <span class="rating-value">{{ producto.rating.rate }}</span>
           <span class="rating-count">({{ producto.rating.count }} reviews)</span>
        </div>
      </div>
    </div>
  </div>
  
